.custom-h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
}

.custom-p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.5px;

}
.custom-button{
    border: 1px solid #2975CC;
    border-radius: 10px;
}
